.navbar {
  background: #000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}
